<h1>イベント詳細</h1>
<button
  type="button"
  onclick="
    navigator.clipboard.writeText('<%= shared_event_url(@event.share_token) %>');
    alert('共有URLをコピーしました');
  ">
  共有URLをコピー
</button>
<p>
  タイトル: <%= @event.title %>
</p>

<h2>話題一覧</h2>

<% @event.topics.each do |topic| %>
  <div>
    <%= link_to topic.name, event_topic_path(@event, topic) %>

    <% if topic.learning? %>
      （学び）
    <% else %>
      （困りごと）
    <% end %>
  </div>
<% end %>

<h2>ログ一覧</h2>

<% @event.messages.each do |message| %>
  <div>
    <p><%= message.speaker_name %></p>
    <p><%= message.content %></p>
    <p><%= message.posted_at %></p>
  </div>
<% end %>

<p>
  投稿者: <%= @event.user.name %>
</p>

<% if user_signed_in? && current_user == @event.user %>
  <h2>ログ貼り付け</h2>

  <%= form_with url: event_messages_path(@event) do %>
    <%= text_area_tag :log_text %>
    <%= submit_tag "取り込み" %>
  <% end %>

  <%= link_to "編集", edit_event_path(@event) %>
  <%= button_to "削除",
                @event,
                method: :delete,
                form: { data: { turbo_confirm: "本当に削除しますか？" } } %>

  <%= link_to "話題登録", new_event_topic_path(@event) %>
  <%= link_to "一覧へ戻る", events_path %>
<% end %>
